* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:lang(ko) {
    word-break: keep-all;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
button,
input,
textarea {
    font-family: BlinkMacSystemFont, -apple-system, Arial, "Spoqa Han Sans", "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    line-height: 1.45;
}
